@import "tailwindcss";

main {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "character dressbattle dressbattle dressbattle"
    "character dressbattle dressbattle dressbattle"
    "character dressbattle dressbattle dressbattle"
    "characterloots characterloots characterloots characterloots";
}

.character { grid-area: character;
  background-image: url("/src/images/pastel-green-to-blue-gradient.png");
  ; }

.characterloots { grid-area: characterloots; 
  background-image: url("/src/images/pastel-green-to-blue-gradient.png");
  background-size: cover;}

.dressbattle { grid-area: dressbattle; 
background-image: url("/src/images/dti\ runway.webp");
background-size: cover;}
