@import "tailwindcss";

main {  display: grid;
  grid-template-columns: 1.2fr 0.8fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.9fr 1.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "chracter dressupbattle dressupbattle dressupbattle"
    "chracter dressupbattle dressupbattle dressupbattle"
    "chracter dressupbattle dressupbattle dressupbattle"
    "chracter clothingloot clothingloot clothingloot";
}

.clothingloot { grid-area: clothingloot; }

.chracter { grid-area: chracter; }

.dressupbattle { grid-area: dressupbattle; }


.clothing loot { grid-area: clothing loot; }

.chracter { grid-area: chracter; }

.dress up battle { grid-area: dress up battle; }
